{{ if .Site.Data.homepage.about.enable }}
{{ with .Site.Data.homepage.about }}
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <div class="jumbotron" style="text-align: center;">
                    <h1 style="font-size: 55px; color:#EC1C24;"><b>Try Our New <a style="font-size: 55px; color:#EC1C24;" href="https://zappos.tchpt.com/home">Online Ordering Portal</a></b></h1>
                    <h2>No 3rd party service fees or charges!</h2>
                    <h3>The system is fixed! Online orders will process credit card orders now!</h3>
                    <!-- <h4>**Delivery Fee Still Applies</h4> -->
                    <!-- <ul style="font-size: 2em;">
                        <li>Sunday-Thursday: 11am-10pm</li>
                        <li>Friday & Saturday: 11am-11pm</li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-responsive center-block" src="{{ .image | absURL }}" alt="Logo"/>
            </div>
            <div class="col-md-9">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{ .title | markdownify }}</h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">{{ .description | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}