<section class="about-2 section bg-gray" id="oops">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="text-left">
                {{ .Content }}
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
             <div class="text-left">
 
                <a class="btn btn-main" href='{{ "shop/" | relLangURL }}'>
                   <i class="tf-ion-ios-cart"></i> {{ i18n "back2shop" }} <i class="tf-ion-ios-cart"></i>
                </a>
 
             </div>
          </div>
       </div>
    </div>
 </section>