{{ if .Site.Data.homepage.subscription.enable }}
{{ with .Site.Data.homepage.subscription }}
<section id="subscribe" {{ if .overlay.enable }} class="overlay" {{ end }} style="background-image: url('{{ .bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <form class="contact__form subscription-form" name="email-club" method="post" data-netlify="true">
                        <div id="email-club">
                            <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title | markdownify }}</h1>
                            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">{{ .description | markdownify }}</p>
                        </div>
                        <p class="hidden">
                            <label>Favorite Pizza<input name="name-me"/></label>
                        </p>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Email Address" required>
                            <button class="btn btn-main" name="submit" type="submit" id="email-club-submit" style="font-size: 18px;">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #subscribe close -->
{{end}}
{{end}}